<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gran Teatro Falla</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/img/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">

    <style>
        body {
            color: #730707;
        }
        
        .table-wrapper {
            min-width: 100%;
            background: white;
            padding: 5% 3% 13% 0%;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        }
        
        .add-new {
            background-color: #730707;
            border-color: #730707;
            float: right;
            height: 2.7em;
            font-weight: bold;
            font-size: 14px;
            text-shadow: none;
            min-width: 20%;
            border-radius: 50px;
            margin-top: 20%;
        }
        
        .add-new i {
            margin-left: -3px;
            margin-right: 6px;
        }
        
        .add-new:hover {
            background-color: #730707;
            border-color: #730707;
        }
        
        .sub-footer {
            margin-top: 9% !important;
            background: #AF7840;
            padding: 0% 0%;
        }
    </style>
</head>

<body background="/img/telon.jpeg">

    <nav class="navbar navbar-expand-md bg-falla navbar-dark">
        <div class="col-2">
            <a class="navbar-brand" href="/"><img class="logo" src="/img/logo.png"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="col-7 offset-1 collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">COAC</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/list-sesion" th:href="@{'/list-sesion'}">Preliminares</a>
                        <a class="dropdown-item" href="/list-sesion" th:href="@{'/list-sesion'}">Cuartos de Final</a>
                        <a class="dropdown-item" href="/list-sesion" th:href="@{'/list-sesion'}">Semifinales</a>
                        <a class="dropdown-item" href="/list-sesion" th:href="@{'/list-sesion'}">Final</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clasificacion" th:href="@{'/clasificacion'}">Clasificación</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Agrupaciones</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/agrupacion" th:href="@{'/agrupacion'}">Comparsas</a>
                        <a class="dropdown-item" href="/agrupacion" th:href="@{'/agrupacion'}">Chirigotas</a>
                        <a class="dropdown-item" href="/agrupacion" th:href="@{'/agrupacion'}">Cuartetos</a>
                        <a class="dropdown-item" href="/agrupacion" th:href="@{'/agrupacion'}">Coros</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/radio" th:href="@{'/radio'}">Radio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comprar Entradas</a>
                </li>
            </ul>
        </div>
        <div class="col-1 offset-1" style="margin-left: 5%;"><a href="#">Acceder<i class="fa fa-sign-in" style="margin-left: 6%" aria-hidden="true"></i></a></div>
    </nav>

    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2><b>Añadir nueva Sesión</b></h2>
                    </div>
                </div>
                <form action="">
                    <div class="form-group col-8 offset-2">
                        <label for="selectModalidad">Categoría</label>
                        <select class="form-control" id="selectModalidad">
                            <option>-------</option>
                            <option>Preliminares</option>
                            <option>Cuartos de Final</option>
                            <option>Semifinal</option>
                            <option>Final</option>
                        </select>
                    </div>
                    <div class="form-group col-8 offset-2">
                        <label for="name">Fecha</label>
                        <input type="date" class="form-control" id="fecha" placeholder="Fecha">
                    </div>
                </form>
                <div class="col-2 offset-10">
                    <button type="button" class="btn btn-info add-new"><i class="fa fa-save"></i>Guardar</button>
                </div>
            </div>
            <form method="POST" action="#" th:action="@{/nuevo/submit}" th:object="${alumno}">
		<input type="text" name="nombre" th:field="*{nombre}" placeholder="Nombre..."/>
		<input type="text" name="apellidos" th:field="*{apellidos}" placeholder="Apellidos..." /> 
		<input type="email" name="email" th:field="*{email}" placeholder="Email..." />
		<input type="date" name="fechaNacimiento" th:field="*{fechaNacimiento}" />
		<input type="submit" name="enviar" value="Enviar" />

	</form>
        </div>
    </div>
    <footer class="main-footer bg-falla">
        <div class="sub-footer fl-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="about-widget">
                            <img src="/img/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-4 offset-1">
                        <div class="copyright">©Gran Teatro Falla. Todos los derechos reservados.</div>
                    </div>
                    <div class="col-3 offset-1">
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-chrome"></i></a></li>
                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>