<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gran Teatro Falla</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/img/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <style>
        body {
            color: #566787;
            background: #730707;
        }
        
        table.table td a.eye {
            color: #003AA7;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-falla navbar-dark">
        <div class="col-2">
            <a class="navbar-brand" href="/"><img class="logo" src="/img/logo.png"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="col-7 offset-1 collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">COAC</a>
                    <div class="dropdown-menu">
                        <a th:each="sesion : ${tipoSesiones}">
                            <a class="dropdown-item" href="#" th:href="@{/sesion/{nombre_sesion}(nombre_sesion=${sesion})}" th:text="${#strings.capitalize(sesion)}">Sesión</a>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendario" th:href="@{/calendario}">Calendario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Clasificación</a>
                    <div class="dropdown-menu">
                        <a th:each="modalidad : ${modalidades}">
                            <a class="dropdown-item" href="#" th:href="@{/clasificacion/{modalidad}(modalidad=${modalidad})}" th:text="${#strings.capitalize(modalidad)}">Modalidad</a>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Agrupaciones</a>
                    <div class="dropdown-menu">
                        <a th:each="modalidad : ${modalidades}">
                            <a class="dropdown-item" href="#" th:href="@{/agrupaciones/{modalidad}(modalidad=${modalidad})}" th:text="${#strings.capitalize(modalidad)}">Modalidad</a>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/radio" th:href="@{/radio}">Radio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comprar Entradas</a>
                </li>
            </ul>
        </div>
        <div class="col-1 offset-1" style="margin-left: 5%;"><a href="#">Acceder<i class="fa fa-sign-in" style="margin-left: 6%" aria-hidden="true"></i></a></div>
    </nav>

    <div class="jumbotron text-center">
        <h1>Bienvenido al Gran Teatro Falla</h1>
        <p class="text-secondary">Consulta las fechas del COAC 2021.</p>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" th:if="${param.error}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		</button>
        <span>¡No se puede borrar una sesión que tiene asociadas agrupaciones!</span>
    </div>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-6">
                            <h2><b>Calendario COAC</b></h2>
                        </div>
                        <div class="col-3 offset-3">
                            <a href="#" th:href="@{/sesion/nueva}"><button class="btn btn-info add-new"><i class="fa fa-plus"></i>Añadir</button></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th style="width: 15%;">Tipo de Sesión</th>
                            <th style="width: 25%;">Fecha<i class="fa fa-sort"></i></th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sesion : ${sesiones}">
                            <td th:text="${sesionStat.count}"></td>
                            <td th:text="${sesion.tipoSesion}"></td>
                            <td th:text="${#temporals.format(sesion.fecha)}"></td>
                            <td>
                                <a href="#" th:href="@{/sesion/{tipoSesion}/{id}(tipoSesion=${sesion.tipoSesion}, id=${sesion.sesion_id})}" class="ver" title="Ver Sesión" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                <a href="#" th:href="@{/sesion/editar/{id}(id=${sesion.sesion_id})}" class="edit" title="Editar" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                <a href="#" th:href="@{/sesion/borrar/{sesion_id}(sesion_id=${sesion.sesion_id})}" class="delete" title="Borrar" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="main-footer bg-falla">
        <div class="sub-footer fl-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <div class="about-widget">
                            <img src="/img/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-4 offset-2">
                        <div class="copyright">©Gran Teatro Falla. Todos los derechos reservados.</div>
                    </div>
                    <div class="col-3 offset-1">
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-chrome"></i></a></li>
                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>