<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gran Teatro Falla</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/img/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <style>
        body {
            color: #566787;
            background: #730707;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-falla navbar-dark">
        <div class="col-2">
            <a class="navbar-brand" href="/"><img class="logo" src="/img/logo.png"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="col-7 offset-1 collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">COAC</a>
                    <div class="dropdown-menu">
                        <a th:each="sesion : ${tipoSesiones}">
                            <a class="dropdown-item" href="#" th:href="@{/sesion/{nombre_sesion}(nombre_sesion=${sesion})}" th:text="${#strings.capitalize(sesion)}">Sesion</a>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Clasificacion</a>
                    <div class="dropdown-menu">
                        <a th:each="modalidad : ${modalidades}">
                            <a class="dropdown-item" href="#" th:href="@{/clasificacion/{modalidad}(modalidad=${modalidad})}" th:text="${#strings.capitalize(modalidad)}">Modalidad</a>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Agrupaciones</a>
                    <div class="dropdown-menu">
                        <a th:each="modalidad : ${modalidades}">
                            <a class="dropdown-item" href="#" th:href="@{/agrupaciones/{modalidad}(modalidad=${modalidad})}" th:text="${#strings.capitalize(modalidad)}">Modalidad</a>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/radio" th:href="@{/radio}">Radio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comprar Entradas</a>
                </li>
            </ul>
        </div>
        <div class="col-1 offset-1" style="margin-left: 5%;"><a href="#">Acceder<i class="fa fa-sign-in" style="margin-left: 6%" aria-hidden="true"></i></a></div>
    </nav>

    <div class="jumbotron text-center">
        <h1>Bienvenido al Gran Teatro Falla</h1>
        <p class="text-secondary">Consulta las puntuaciones de las agrupaciones inscritas.</p>
    </div>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-6">
                            <h2><b>Comparsas</b></h2>
                        </div>
                        <div class="col-4 offset-2">
                            <div class="search-box">
                                <i class="fa fa-search"></i>
                                <input type="text" class="form-control" placeholder="Search&hellip;">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Director</th>
                            <th>Procedencia</th>
                            <th>Puntos<i class="fa fa-sort"></i></th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="agrupacion : ${agrupacionClasificacion}">
                            <td th:text="${agrupacion.nombre}"></td>
                            <td th:text="${agrupacion.director}"></td>
                            <td th:text="${agrupacion.procedencia}"></td>
                            <td th:text="${agrupacion.puntos}"></td>
                            <td>
                                <a href="#" th:href="@{/agrupacion/{nombre}(nombre=${agrupacion.nombre})}" class="save" title="Ver Agrupación" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                <a href="#" th:href="@{/agrupacion/editar/{agrupacion_id}(agrupacion_id=${agrupacion.agrupacion_id})}" class="edit" title="Editar" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="main-footer bg-falla">
        <div class="sub-footer fl-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="about-widget">
                            <img src="/img/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-4 offset-1">
                        <div class="copyright">©Gran Teatro Falla. Todos los derechos reservados.</div>
                    </div>
                    <div class="col-3 offset-1">
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-chrome"></i></a></li>
                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>